

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gtzfm6');
  src:  url('../fonts/icomoon.eot?gtzfm6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gtzfm6') format('truetype'),
    url('../fonts/icomoon.woff?gtzfm6') format('woff'),
    url('../fonts/icomoon.svg?gtzfm6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel:before {
  content: "\ea0d";
}
.icon-mail:before {
  content: "\ea86";
}





body{
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

footer{
  padding-top: 50px;
}

table{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

th{
  background-color: #273b47;
  color: white;
  padding: 10px;
}
td{
  padding: 20px;
  text-align: center;
}

table, td, th{
  border: 2px solid #273b47;
  border-collapse: collapse;
}

.intereses label:nth-child(2){
  padding-right: 30px;
}

.contenedor{
  max-width: 800px;
  margin: auto;
  position: relative;
}

.background{
  background-color: #466173;
  background-image: url('../images/background.png');
  background-size: cover;
}

.button{
  border-radius: 12px;
  background: #FE3E4E;
  color: white;
  border:none;
  padding: 7px 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background: linear-gradient(to left,#FE3E4E,#ff7250);
  cursor: pointer;
  text-decoration: none;

}



.header{
  position: relative;
}
.portada button{
  margin-bottom: 70px;
}

.portada{
  color: white;
  padding: 20px;
}

.logotipo{
  display: inline-block;
  margin-left:0;
}

.menu li{
  display: inline-block;
  margin-left: 30px;
}

.menu li:before{
  content: 'Ëš';
  font-size: 50px;
  line-height: 20px;
  color: white;
}

.menu a{
  color: white;
  text-decoration: none;
}


.menu{
  display: inline-block;
  font-size: 24px;
  position: absolute;
  right: 0;
  margin-top: 12px;
}


.titulo span{
  text-decoration: underline;
}

.titulo{
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-bottom: 15px;
  line-height: 40px;
  margin-top: 70px;
}

.title-a{
  font-size: 24px;

}

.title-b{
  font-size: 50px;
    margin-bottom: 20px;
}

.guitarras h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.guitarras{
  color: RGBA(31,49,60,100);
  margin-bottom: 60px;
}


.portadaContenido{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:center ;
}

.right img{
  float: right;
  position: relative;
  bottom: 127px;
}

.left img{
  float: left;
  position: relative;
  /*top: 50px;*/
  right: 58px;
  }

.guitarra.left{
    height: 220px;
  }

  .guitarra ol{
    padding: 0;
  }

.guitarra{
  /*overflow: hidden;*/
  border: 1px solid RGBA(31,49,60,100);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.contenedor-guitarra-a ol{
  padding-left: 16px;
}


.contenedor-guitarra-a{
  padding-left: 20px;
  position: relative;
  bottom: 20px;
}

.contenedor-guitarra-b ol{
  padding-left: 45px;
}



.contenedor-guitarra-b{
  margin-left: 370px;
  position: relative;
  bottom: 70px;

}
.footer{
  background-color: RGBA(31,49,60,100);
}

.footer .contenedor{
  display: flex;
  justify-content: space-between;
}

.contacto img{
  display: block;
}
.contacto strong{
  display: block;
}
.contacto a{
  color: white;
  text-decoration: none;
  margin: 5px 5px 10px 0;
}

.contacto{
  display: flex;
  width: 300px;
  align-items: center;
  flex-wrap: wrap;
}

.formulario label , .sexo , .intereses{
  margin-bottom: 10px;

}

.formulario{
  color: white;
  width: 400px;
  display: flex;
  padding: 40px 10px;
}


.sexo{
  margin-top: 10px;
}

.col1 , .col2{
  display: flex;
  flex-direction: column;
}

.col2 input{
  margin-top: 10px;
}

.col1{
  margin-right: 15px;
}

.col2{
  align-items: flex-start;
}
.intereses label{
  font-size: 12px;
}

.burguer-button{
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: #395667;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  display: none;
  color: white;

  position: absolute;
  left: 10px;
  top: 10px;
}

.video-responsive-contenedor{
  position: relative;
  padding-top: 56.25%;
  margin: 0;
}

.video-responsive-src{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;

}

.video-demo{

  max-width: 500px;
  margin: 0 auto 80px;
  border: 4px solid #3c5b6e;

}

/*++++++++++++++++++++++++ MEDIA QUERIES +++++++++++++++++++++++++++++++++*/


@media screen and (max-width: 800px){


  /*PRECIOS---------*/

    .tabla{
      margin: 20px 20px;
    }

    .tabla .contenedor{
      overflow: auto;
      border: 1px solid #273b47;
    }
  /*---------PRECIOS*/


  /*----------PORTADA */

  .titulo{
    font-size: 45px;
    margin-top: 30px;
  }
  .title-a{
    font-size: 18px;
  }

  /*portada{
    height: auto;
  }*/

  .portadaContenido{

      height: auto;
  }

  .portadaContenido .button{

      margin-bottom: 30px;
  }

  /*PORTADA----------*/

  /*----------GUITARRAS*/


  .guitarras{

    text-align: center;
  }

  .left img , .right img{
    float: none;
    position: static;
  }

  .title-b{
    margin:20px 0 0 0 ;
  }

  .guitarra li{
    list-style: none;
  }

  .guitarra.left img{
    width:450px;
  }

  .guitarra.right img{
    width:380px;
  }

  .guitarra.left{
    height: auto;
    margin-top: 27px;
  }



  .contenedor-guitarra-b{

    position: static;
    margin: 0;
  }

  .contacto{
    margin-left: 20px;
  }

  .formulario{
    margin-right: 20px;
  }

  #guitarras{
    margin-bottom: 30px;
  }

  .video-responsive-contenedor{
    position: relative;
    padding-top: 56.25%;
    margin:0;
  }

  /*GUITARRAS----------*/

}

@media screen and (max-width: 650px){


/*----------MENU*/

header{
  text-align: center;
}


.menu li:first-child{

    margin: 0;
  }

.menu ul{
  padding: 0;
}

.menu{
  position: static;
  display: block;
  text-align: center;
  margin-top:50px;

}

/*MENU----------*/

/*----------LOGO*/

.logotipo{
  display: block;
  margin: 0;

}

/*LOGO----------*/

/*----------GUITARRAS*/

.contenedor-guitarra-b ol{
  padding: 0;
}

.contenedor-guitarra-a ol{
  padding: 0;
}

.video-responsive-contenedor{
  position: relative;
  padding-top: 56.25%;
  margin:0;
}

/*GUITARRAS----------*/

/*----------FOOTER*/

.col2 textarea{
  width: auto;

  /*FOOTER----------*/

}
}

@media screen and (max-width: 620px){

  .contacto img{
    width: 190px;
  }

  .contacto a{
    font-size: 14px;
  }

  .contacto{
    margin-left: 10px;
  }
}

@media screen and (max-width: 570px){

  /*----------FOOTER*/

  .contacto img{
    width: 170px;
  }

  .contacto a{
    font-size: 12px;
  }

  .formulario label{
    font-size: 12px;
  }

  .col2 input{
    font-size: 14px;
  }

  .contacto{
    margin-left: 9px;
  }

  .formulario .col1{
    margin-right: 10px;
  }

  .formulario{
    margin-right: 5px;
  }

  /*FOOTER----------*/

  /*GUITARRAS ---------*/

  .video-responsive-contenedor{
    position: relative;
    padding-top: 56.25%;
    margin:0;
  }

  /*-----------GUITARRAS*/
}

@media screen and (max-width: 555px){

  /*----------MENU y PORTADA*/

  .header , .header .contenedor{
    position: static;
  }

  .burguer-button{
    display: block;
  }

  .portada .contenedor{

    position: static;

  }

  .menu ul{
    flex: 1;
  }

  .menu li{

    display: block;
    margin: 0;
    border-bottom: 1px solid white;
    padding: 10px 0;
  }

  .menu li::before{
    content: none;
  }

  .menu li:first-child{
    border-top: 1px solid white;
  }

  .menu{
    background: rgba(255, 109, 80, .8);
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    transition: .3s;

  }

  .menu.active{
    left:0;
  }


  .portadaContenido {
    display: block;
    text-align: center;
  }

  .title-a{
    margin-bottom: 30px;
  }

  .titulo{
    font-size: 36px;
  }

  .title-a , .button{
    font-size: 15px;
  }



  /*MENU y PORTADA-----------*/



  /*----------------GUITARRAS*/
  .guitarra.right img{
    width: 300px;
  }

  .guitarra.left img{
    width: 350px;
  }

  .title-b{
    font-size: 30px;
  }

  .contenedor-guitarra-a{
    padding: 0;
  }

  .video-demo{

    max-width: 500px;
    margin: 0 10px 80px;
    border: 4px solid #3c5b6e;

  }
  /*GUITARRAS----------------*/

  /*----------------FOOTER*/

  .col2 textarea{
    width: 100%;
  }

  .contacto img{
    margin: 0 auto ;
  }

  .contacto a , .formulario label{
    font-size: 16px;
  }


  .intereses label{
    display: block;
  }


  .contacto a:first-child{
    margin-left: 38px;
  }

  .col1 label{
    padding-top: 10px;
  }

  /*.col1 input{
    font-size: 16px;
    padding: 5px;
  }*/

  input[type='text'] ,
  input[type='email']{
    font-size: 16px;
    padding: 5px;
  }

  input[type='radio'] ,
  input[type='checkbox']{
    zoom:1.5;
  }

  .col2 input{
    font-size: 16px;
  }

  .formulario .col1{
    margin: 0;
  }

  .formulario{
    display: block;
    margin: 0 auto;
    width: 300px;

  }

  .footer .contenedor{
    display: block;
  }

  .contacto{
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  /*FOOTER----------------*/

}

@media screen and (max-width: 356px){


  /*MENU -------*/


  .header , .header .contenedor{
    position: static;
  }

  /*--------MENU*/

  /*----------GUITARRAS*/

  .guitarra.right img{
    width: 200px;
  }

  .guitarra.left img{
    width: 300px;
  }


  /*GUITARRAS----------*/

  /*----------FOOTER*/
  .formulario{
    width: auto;
  }
  /*FOOTER--------*/
}

@media screen and (-webkit-min-device-pixel-ratio: 2){

  .background{
    background-image: url('../images/background2x.png');

  }

}
